@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
body{
    display:flex;
    justify-content: center;
    align-items:center;
    background-image: url('../img/backgrnd.jpg');
    background-size: cover;
}
.listing{
    justify-content:flex-start !important;
    align-items:flex-start !important;
    flex-wrap:wrap;
}
.container{
    margin-top:70px;
    display:flex;
    flex-direction: column;
}
.textOrbitron{
    font-family: 'Orbitron';
}
    .textOrbitron--25{
        font-size:25px;
    }
.btn_start{
    border:none;
    font-size:25px;
    transition-property: font-size;
    transition-duration:1s;
    background-color:transparent;
}
.btn_start:hover{
    font-size:28px;
}
.span{
    width:150px;
    border:1px black solid;
}