@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
body{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    background-image: url('../img/backgrnd.jpg');
    background-size: cover;
}
.listing{
    justify-content:flex-start !important;
    align-items:flex-start !important;
}
.container{
    display:flex;
    flex-direction: column;
    align-items:center;
    height:98vh;
    flex-wrap:wrap;
}
.container>span{
    margin:5px;
}
.textOrbitron{
    font-family: 'Orbitron';
}
    .textOrbitron--big{
        font-size:25px;
    }
.btn_start{
    border:none;
    margin-top:300px;
    font-size:25px;
    transition-property: font-size;
    transition-duration:1s;
    background-color:transparent;
}
.btn_start:hover{
    font-size:28px;
}
.span{
    width:150px;
    border:1px black solid;
}
@media only screen and (min-width:250px) and (max-width:600px){
body{
    background-image:url('../img/backgrnd_mobile.jpg');
    background-size:cover;
}
.container{
    height:100vh;
}   
.textOrbitron--big{
    font-size:15px;
}
.btn_start{
    align-self: center;
}
}